<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lobby</title>
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/lobby.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Finger+Paint&family=Kanit&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <h1>XET</h1>
        
        <form id = "room-name-form" method="post">
            {% csrf_token %}
            <h3>Create a room or enter a existing one:</h3>
            <input id="room-name-input" name="room" type="text" size="100" required>
            <h3>Choose a nickname:</h3>
            <input id="nick-name-input" name="nickname" type="text" size="100" required>
            <input id="room-name-submit" type="submit" value="Enter">
        </form>
    </div>    


    </script>
</body>
</html>